/* @media screen and (min-width: 1080px) {
    body {
        padding: 80px;
        background-color: #E5E4E2;
    }




} */



@media screen and (min-width: 1080px) {


}

.main-content {
    color: white;
    background-color: white;
 
}

.header {
    display: flex;
    flex-direction: row;


    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

#search-bell {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 20px;
}

#header-1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn {
    cursor: pointer;
    padding: 16px 32px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
#btn1 {
    cursor: pointer;
    padding: 16px 32px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}



#main-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.news-category {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: "100%";

    background-color: white;


}

.news-display {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.news-category #date {
    display: flex;
    flex-direction: column;
    gap: none;

}

.news-category .categories {
    display: flex;
    flex-direction: row;
    gap: 54px;
    justify-content: space-between;
    margin-left: 20px;
    font-weight: bold;
    width: "100%";
    cursor: pointer;
}

.news-display {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: "100%";
    justify-content: center;
   
}

#movies-info {
    /* display: flex;
    flex-direction: row;
    gap: 20px; */
    width: "100%";
    min-width: 200px;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    #latest-display {
        display: none;
    }
} 
